.flip3D {
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
}

.flip3D > .front {
    position: absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    transition: transform 5s linear 0s;
    background: #FC0;
    backface-visibility: hidden;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 10px 10px 5px #888888;
}

.flip3D > .back {
    position: absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    transition: transform 5s linear 0s;
    background: #80BFFF;
    backface-visibility: hidden;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 10px 10px 5px #888888;
}

.flip3D:hover > .front {
    transform: perspective( 600px ) rotateY( -180deg );
}

.flip3D:hover > .back {
    transform: perspective( 600px ) rotateY( 0deg );
}