body {
    background: #000;
    margin: 0;
}

div#menubar {
    padding: 24px;
    border: #999 1px dashed;
}

div#menubar > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #333;
    padding: 12px 24px;
    color: #FFF;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: background 1s linear 0s, color 1s linear 0s;
}

div#menubar > a:hover {
    background: #6F8A00;
    color: #000;
}